
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');

*,
*:focus {
    box-sizing: border-box;
}

*:focus {
    outline: 2px dotted #76aa;
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 22px;
   font-family: 'Roboto', sans-serif;
   color: #000;
   background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: fill;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    padding: 12px 32px;
    display: inline-block;
    margin: 0;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.dark-button {
    background: #000;
    border: 2px solid #000;
}

.dark-button:hover {
    background: #fff;
    color: #000;
}

.light-button {
    color: #000;
}

.light-button:hover {
    background: #000;
    opacity: 0.6;
    color: #fff;
}
.title {
    margin: 0;
    font-size: 61px;
    line-height: 73px;
    font-weight: normal;

}

.text {
    margin: 0;
    margin-top: 23px;
    font-size: 16px;
    line-height: 24px;
    color: #212529
}

/* HEADER */

.header {
    height: 93px;
}

.site-navbar {
    display: flex;
    align-items: center;
    padding: 25px;
}

.site-logo {
    width: 112px;
    height: 39px;
    flex: 1;
}
.logo {
    width: inherit;
    height: inherit;
}
.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-list-item {
    margin-right: 30px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.nav-list-item-link {
    text-decoration: none;
    color: #000;
}

.nav-list-item-link:hover {
    opacity: 0.6;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    margin-top: 54px;
    
}
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.enter {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #a6a6a6;
}

.landing-text {
    width: 717px;
}

.landing-links {
    margin-top: 36px;
}

.landing-list {
    margin-top: 55px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.landing-list-item {
    margin-right: 62px;
    font-size: 16px;
    line-height: 24px;
    color: #686868;
}

.landing-list-item:last-child {
    margin-right: 0;
}

.landing-list-item::before {
    content:  '';
    display: inline-block;
    padding-right: 10px;
    background: url('/images/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 15px;
    
}

.landing-image {
    margin-top: 40px;
}


/* SERVICE */
.service {
    margin-top: 69px;
    text-align: center;
}
.enter {
}

.service-text {
    text-align: left;
    padding-right: 50px;
    padding-left: 50px;
}
.service-image {
    margin-top: 89px;
}


/* INFOS */
.infos {
    margin-top: 100px;
    text-align: center;
    background: #fafafa;
}

.infos-container {
    padding-top: 35px;
    padding-bottom: 47px;
}


.infos-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
.item-infos-list {
    margin-top: 95px;
    margin-right: 40px;
    text-align: left;
}

.item-infos-list:last-child {
    margin-right: 0;
}

.item-infos-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}


/* BRAND */
.brand {
    margin-top: 80px;
}

.brand-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.brand-text {
    width: 517px;
    margin-bottom: 18px;
}

.brand-image {
    width: 605px;
    height: 342px;
}

.brand-image img {
    width: inherit;
    height: inherit;
}


/* EXPEND */
.expend {
    margin-top: 50px;

}

.expend-container {
    text-align: center;
}

.expend-text {
    margin-top: 12px;
}


/* AKKORDION */
.akkordion {
    padding-top: 100px;
}

.akkordion-container {
    text-align: center;
}

.akkordion-title {
    margin-bottom: 50px;
}

/* LOCALLI-SERVICE */

.localli-service {
    margin-top: 88px;
}

.localli-service-container {
    display: flex;
    padding: 100px 22px 100px 90px;
    background: #fbfbfb;
    border-radius: 25px;
}
.localli-service-button {
    margin-top: 16px;
}

.localli-service-img {
    width: 549px;
    height: 326px;
}

.localli-service-img img {
    width: inherit;
    height: inherit;
}


/* FOOTER */
.footer {
    margin-top: 88px;
}

.footer-container {
    padding-top: 45px;
    padding-bottom: 67px;
    display: flex;
    align-items:flex-start;
    border-top: 2px solid #e5e5e5;
}

.footer-logo {
    flex: 1;
    width: 130px;
    height: 45px;
}

.footer-logo-info {
    margin: 0;
    margin-top: 15px;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
    color: #a6a6a6;
}

.footer-logo-text {
    margin: 0;
    margin-top: 20px;
    font-size: 13px;
    line-height: 21px;
    font-weight: normal;
    color: #a6a6a6;
}

.footer-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.footer-list-item {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.footer-list-item:last-child {
    margin-right: 0;
}

.footer-list-link {
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal;
    color: #000000;
  
}

.footer-list-link:first-child {
    color: #a6a6a6;
}

.footer-list-link:last-child {
    margin-bottom: 0;
}